.backButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  font-size: 30px;

  color: #ffffff;
  background-color: #ffffff50;

  cursor: default;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.backButton:active {
  transform: scale(0.8);
}

.pokemonName {
  position: fixed;
  bottom: 0;
  margin: 20px 0;
  font-size: 50px;
  color: #ffffffab;
  text-transform: capitalize;
}

.ImageContainer {
  width: 200px;
  height: 200px;
  margin: 40px auto;
}

.ImageContainer img {
  width: 100%;
}

.gridInfoBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  gap: 20px;
  margin-top: 70px;
}

.infoBox {
  padding: 10px;
  color: #ffffff;
  background-color: #ffffff50;
  border-radius: 20px;
  text-transform: capitalize;
}

.infoBox h3 {
  margin-bottom: 10px;
}

@media (min-width: 500px) {
  .pokemonName {
    font-size: 60px;
  }

  .ImageContainer {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 800px) {
  .pokemonName {
    font-size: 70px;
  }

  .ImageContainer {
    width: 300px;
    height: 300px;
  }
}
